.nav_container {
  width: 100%;
  position: fixed;
  padding-right: initial;
  border-bottom: 1px solid #e1e2e3;
}

@media screen and (min-width:1200px){
  .nav_container_flex {
    position: relative;
    margin: 0 auto;
    height: 50px;
    max-width: 1060px;
  }

  .navbar_li {
  position: relative;
  display: inline-block;
  height: inherit;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  padding: 15px;
  cursor: pointer;
}
}

@media screen and (min-width:992px) and (max-width:1199px) {
  .nav_container_flex {
    margin: 0 auto;
    height: 50px;
    width: 90%;
  }

  .navbar_li {
    position: relative;
    display: inline-block;
    height: inherit;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    padding: 15px;
    cursor: pointer;
  }
}

@media screen and (min-width:768px) and (max-width:991px) {
  .nav_container_flex {
    margin: 0 auto;
    height: 50px;
    width: 90%;
  }

  .navbar_li {
    position: relative;
    display: inline-block;
    height: inherit;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    cursor: pointer;
    flex : 1;
  }
}

@media screen and (max-width:767px) {
  .nav_container_flex {
    margin: 0 auto;
    height: 50px;
  }
  .navbar_li {
    position: relative;
    display: inline-block;
    height: inherit;
    justify-content: space-around;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    cursor: pointer;
  }
}
.navbar_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

.navbar_name {
  padding-bottom:5px;
  font-size: x-large;
  font-weight: 650;
}

.navbar_ul {
  margin: 0;
  display: flex;
  text-align: center;
  list-style: none;
  padding-left:0;
}

.navbar_li.selected{
  box-shadow: inset 0 -2px #258bf7;
}

