.overlay_list_container {
  position: fixed;
  top : 50px;
  left: 0;
  right: 0;
  bottom : 0;
  background-color: rgba(0,0,0,.3);;
  opacity: 0;
  visibility:hidden;
  transition: .2s;
}

.overlay_list_container.show {
  opacity: 1;
  visibility: visible;
}

.overlay_content {
  height: 0;
  max-height: 450px;
  background-color: white;
  transition: .5s;
}

.overlay_content.show{
  height: 100%;
}

.table_container {
  margin: 0 auto;
  max-width: 1060px;
  padding : 0;
  height: inherit;
}

.table_row {
  margin : 0;
  margin-right: -20px;
}

.table_col {
  float: left;
  width: 14.78%;
  height: 270px;
  padding: 40px 15px 0 0;
  text-align: left;
}

.table_col>a {
  text-decoration: inherit;
  cursor: pointer;
}
.icon_arrow{
  float:right;
}

.table_col>a>h2 {
  width: 100%;
  color: black;
  font-size: 17px;
  line-height: 20px;
  margin: 0;
  padding-bottom: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.table_col>a>h3 {
  color: #999;
  width: 100%;
  font-size: 13px;
  margin: 0;
  padding: 5px 20px 5px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .table_container {
    margin: 0 auto;
    width: 90%;
    padding : 0;
    height: inherit;
  }

  .table_col {
    float: left;
    width: 13.78%;
    height: 270px;
    padding: 40px 15px 0 0;
    text-align: left;
  }
}

@media screen and (max-width:767px) {
  .overlay_list_container {
    display: none;
  }
}